[core]
	excludesfile = ~/.gitignore
	editor = nano -w~
	autocrlf = input
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = Sebastian Wesołowski
	email = sebastian@artnova.com.pl
	signingkey = 25B223C766E22D10
[commit]
	template = /Users/sebastianwesolowski/.stCommitMsg
