# --- Aliases ---
alias brewup='brew update; brew upgrade; brew cask upgrade; brew cleanup; brew doctor'
alias c="clear"
alias rm_modules="find . -name "node_modules" -type d -prune -exec rm -rf '{}' +"

# --- Applications ---
alias chrome="/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome"

# --- Shortcuts navigation ---
alias ..="cd .."
alias ....="cd ../.."

# --- Directory ---
alias w="cd ~/web"
alias d="cd ~/Desktop"
alias o="cd ~/organization"

# --- Config ---
alias git-config="git config --global -e"